<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>924937954304-4dojgfn4b20lurapagv0l0ctemlst2to.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.924937954304-4dojgfn4b20lurapagv0l0ctemlst2to</string>
	<key>API_KEY</key>
	<string>AIzaSyD5fc-IhkAabTuWy1a_TSRVDo2e7kw9PcM</string>
	<key>GCM_SENDER_ID</key>
	<string>924937954304</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.azn.iOSChat</string>
	<key>PROJECT_ID</key>
	<string>ioschatapp-66e53</string>
	<key>STORAGE_BUCKET</key>
	<string>ioschatapp-66e53.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:924937954304:ios:95550e7b1a58faedc624e5</string>
</dict>
</plist>